    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>ABOUT</h2>
              <br/>
                <p>Go Sembako merupakan Website Jasa Yang Menawarkan kemudahan Untuk Masyarakat
				<br>Dalam Menemukan Sembako Untuk Kebutuhan Sehari-Hari Tanpa Perlu Repot 
				<br> Repot Pergi Ke Pasar.Dengan Adanya Go Sembako Akan Memudahkan  
				<br>Masyarakat Khususnya Ibu-ibu Untuk Mendapatkan Sembako 
				<br>Dengan Kualitas Yang Bagus Dan Juga Terjangkau</a></p>
                </br>
              </div>
        </div>
    </section>
